@model WebQuestoesLogica.Models.Questao10Model

@{
    ViewBag.Title = "Questão 10";
}

<h2>Questão 10</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Faça um programa em C# que imprima todos os múltiplos de 3, entre 1 e 100. Para saber se um número é múltiplo de 3, você pode fazer if(numero % 3 == 0)</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2">Primeiro número do intervalo</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Numero1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Numero1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Último número do intervalo</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Numero2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Numero2, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Múltiplo</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Multiplo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Multiplo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Resposta" class="btn btn-default" />
        </div>
    </div>

    @if (Model != null && Model.Resultado != "")
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label class="text-left text-success" for="nome">Resposta = @Html.DisplayFor(model => model.Resultado)</label>
            </div>
        </div>
    }
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}